<form method="POST">
    <input type='text' name='name' placeholder='Name' />
    <input type='email' name='email' placeholder='Email' />
    <input type='text' name='time' placeholder="Time">
    <button>Submit</button>
</form>